#
# Standard compiled binaries
#
*.[Dd][Ll][Ll]
*.[Ee][Xx][Ee]
*.[Hh][Ll][Pp]
*.[Ii][Nn][Ff]
*.[Mm][Aa][Pp]
*.[Oo][Bb][Jj]
*.[Rr][Ee][Ss]
*.[Ss][Yy][Mm]
*.[Bb][Aa][Kk]
*.[Ll][Oo][Gg]
*.[Zz][Ii][Pp]
#
# Files created dynamically by the Qt build process
#
Makefile
*.[Rr][Ss][Pp]
moc_*
qrc_*.cpp
ui_*.h