#
# Standard compiled binaries
#
*.[Dd][Ll][Ll]
*.[Ee][Xx][Ee]
*.[Hh][Ll][Pp]
*.[Ii][Nn][Ff]
*.[Qq][Cc][Hh]
*.[Qq][Hh][Cc]
*.[Mm][Aa][Pp]
*.[Oo][Bb][Jj]
*.[Rr][Ee][Ss]
*.[Ss][Yy][Mm]
*.[Bb][Aa][Kk]
*.[Ll][Oo][Gg]
*.[Zz][Ii][Pp]
*.o
*.tar.gz
#
# Files created dynamically by the Qt build process
#
Makefile*
object_script*
*.[Rr][Ss][Pp]
moc_*
qrc_*.cpp
ui_*.h
#
# Other stuff
#
*.diff
test*.txt
